@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

body {
  /*background: #bbc6fa;*/
  background: url("https://source.unsplash.com/xg9tYmiE0-w") center/cover fixed
    no-repeat;
}

/* Customize styles for this page */
.container {
  background: #fff;
  width: 55vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 50px 0px rgba(0, 0, 0, 0.75);
}

.container h1 {
  font-size: 36px;
  margin-top: 10px;
  margin-bottom: 70px;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}

.container h1:after {
  content: "";
  width: 200px;
  height: 3px;
  border-radius: 3px;
  background: rgb(23, 124, 229);
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.container p {
  font-size: 23px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  min-height: 110px;
  position: sticky;
}

.container p::before,
.container p::after {
  content: '"';
}

.fade-in {
  animation: fadeIn 1.4s;
  -webkit-animation: fadeIn 1.4s;
  -moz-animation: fadeIn 1.4s;
  -o-animation: fadeIn 1.4s;
  -ms-animation: fadeIn 1.4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container div {
  width: 100%;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.container button {
  background: transparent;
  color: #333;
  border-radius: 25px;
  border: 1px solid rgb(23, 124, 229);
  width: 150px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
}
